<a href="https://colab.research.google.com/github/sathyadithyarithi/ITI103_myClasswork/blob/main/Telcom_customerChurnPrediction_Group11_DataPrep_finalReport_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### <font color="blue">Import libraries & set pandas options</font>

In [ ]:
## Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

### <font color="blue">Data Preparation & Feature Engineering</font>

In [ ]:
df = pd.read_csv("telcom_churn_large.csv")
df.head(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,7774-OJSXI,1,United States,California,South Lake Tahoe,96150,"38.911577, -120.106169",38.911577,-120.106169,Male,...,One year,Yes,Electronic check,101.949447,3061.394940,Yes,1,65,5387,Poor expertise of phone support
1,2878-DHMIN,1,United States,California,Sacramento,95833,"38.619049, -121.517552",38.619049,-121.517552,Male,...,One year,No,Electronic check,21.044041,645.199178,No,0,30,2334,NaN
2,4804-NCPET,1,United States,California,Clearlake,95422,"38.965804, -122.631779",38.965804,-122.631779,Male,...,Two year,No,Mailed check,16.683919,366.686109,No,0,60,4821,NaN
3,5006-MXVRN,1,United States,California,Keyes,95328,"37.555631, -120.911653",37.555631,-120.911653,Female,...,Two year,No,Credit card (automatic),20.999046,778.858402,No,0,45,3733,NaN
4,8216-AZUUZ,1,United States,California,San Francisco,94118,"37.781304, -122.461522",37.781304,-122.461522,Female,...,Two year,Yes,Electronic check,106.860101,4308.035884,No,0,76,3265,NaN

In [ ]:
# View the total rows and columns present in the dataset
print(df.shape)

(100000, 33)

In [ ]:
# Keep one instance of each duplicate
df.drop_duplicates(inplace=True)

In [ ]:
print(df.shape)

(7043, 33)

In [ ]:
#Drop the columns based on group discussion
columns_to_drop = ['CustomerID','Count','Country','State','City','Lat Long','Latitude','Longitude','Churn Value','Churn Score','CLTV','Churn Reason']
df.drop(columns=columns_to_drop, inplace=True)

In [ ]:
print(df.shape)

(7043, 21)

In [ ]:
# Group the tenure in bins of 12 months
labels = ["{0} - {1}".format(i, i + 11) for i in range(1, 72, 12)]
labels = ["1 year","2 years","3 years","4 years","5 years","6 years"]
df['tenure_group'] = pd.cut(df['Tenure Months'], range(1, 80, 12), right=False, labels=labels)

df['tenure_group'].value_counts().sort_index()

tenure_group
1 year     2175
2 years    1024
3 years     832
4 years     762
5 years     832
6 years    1407
Name: count, dtype: int64

In [ ]:
#drop Tenure Months
df.drop(columns=['Tenure Months'], inplace=True)

In [ ]:
print(df.shape)

(7043, 21)

In [ ]:
df.head(5)

,Zip Code,Gender,Senior Citizen,Partner,Dependents,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,...,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,tenure_group
0,96150,Male,No,No,No,Yes,Yes,Fiber optic,No,Yes,...,No,Yes,Yes,One year,Yes,Electronic check,101.949447,3061.394940,Yes,3 years
1,95833,Male,No,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,One year,No,Electronic check,21.044041,645.199178,No,3 years
2,95422,Male,No,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,16.683919,366.686109,No,2 years
3,95328,Female,No,No,No,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),20.999046,778.858402,No,4 years
4,94118,Female,No,Yes,Yes,Yes,No,Fiber optic,No,No,...,Yes,Yes,Yes,Two year,Yes,Electronic check,106.860101,4308.035884,No,4 years

In [ ]:
#Replace Spaces with Underscores
df.columns = df.columns.str.replace(' ', '_')

In [ ]:
df['Churn_Label'].replace({"No":0, "Yes":1}, inplace=True)

C:\Users\manik\AppData\Local\Temp\ipykernel_13464\3966181821.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Churn_Label'].replace({"No":0, "Yes":1}, inplace=True)
C:\Users\manik\AppData\Local\Temp\ipykernel_13464\3966181821.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Churn_Label'].replace({"No":0, "Yes":1}, inplace=True)

In [ ]:
# write the DataFrame as csv
df.to_csv('Telco_churn_dataProcessed.csv', index=False)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 75704
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Zip_Code           7043 non-null   int64
 1   Gender             6708 non-null   object
 2   Senior_Citizen     6709 non-null   object
 3   Partner            7043 non-null   object
 4   Dependents         7043 non-null   object
 5   Phone_Service      7043 non-null   object
 6   Multiple_Lines     7043 non-null   object
 7   Internet_Service   7043 non-null   object
 8   Online_Security    7043 non-null   object
 9   Online_Backup      7043 non-null   object
 10  Device_Protection  7043 non-null   object
 11  Tech_Support       7043 non-null   object
 12  Streaming_TV       7043 non-null   object
 13  Streaming_Movies   7043 non-null   object
 14  Contract           7043 non-null   object
 15  Paperless_Billing  7043 non-null   object
 16  Payment_Method     7043 non-null   object
 17  Monthly_Charges    7043 non-null   float64
 18  Total_Charges      7032 non-null   float64
 19  Churn_Label        7043 non-null   int64
 20  tenure_group       7032 non-null   category
dtypes: category(1), float64(2), int64(2), object(16)
memory usage: 1.1+ MB

### <font color="blue">Data Scaling</font>

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [ ]:
df_model = pd.read_csv("Telco_churn_dataProcessed.csv")
df_model.head(5)

,Zip_Code,Gender,Senior_Citizen,Partner,Dependents,Phone_Service,Multiple_Lines,Internet_Service,Online_Security,Online_Backup,...,Tech_Support,Streaming_TV,Streaming_Movies,Contract,Paperless_Billing,Payment_Method,Monthly_Charges,Total_Charges,Churn_Label,tenure_group
0,96150,Male,No,No,No,Yes,Yes,Fiber optic,No,Yes,...,No,Yes,Yes,One year,Yes,Electronic check,101.949447,3061.394940,1,3 years
1,95833,Male,No,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,One year,No,Electronic check,21.044041,645.199178,0,3 years
2,95422,Male,No,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,16.683919,366.686109,0,2 years
3,95328,Female,No,No,No,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),20.999046,778.858402,0,4 years
4,94118,Female,No,Yes,Yes,Yes,No,Fiber optic,No,No,...,Yes,Yes,Yes,Two year,Yes,Electronic check,106.860101,4308.035884,0,4 years

In [ ]:
def prepare_data(df, target_col):
    # Drop specified features and target column
    X = df.drop(target_col, axis=1)
    Y = df[target_col]

    # Identify numeric and categorical columns
    numeric_cols = X.select_dtypes(include=[np.number]).columns
    categorical_cols = X.select_dtypes(include=['object', 'category']).columns

    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
    print("X_train Shape : ", X_train.shape)
    print("Y_train Shape : ", y_train.shape)

    # Handle categorial data using oneHotEncoder
    # Apply the scalar on numerical features
    # User Column Transformer to build the preprocessor that handles both numeric and categorial data correctly

    # Define preprocessing pipelines for numeric and categorical features
    numerical_transf = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ])
    categorical_transf = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

    # Combine preprocessing pipelines into a ColumnTransformer
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transf, numeric_cols),
            ('cat', categorical_transf, categorical_cols)
        ]
    )

    # Fit the preprocessing pipeline on the training data
    preprocessor.fit(X_train)

    # Transform the training and testing data
    X_train_transformed = preprocessor.transform(X_train)
    X_test_transformed = preprocessor.transform(X_test)

    print("Shape of X_train_transformed : ",X_train_transformed.shape)
    print("Shape of X_test_transformed : ",X_test_transformed.shape)

    return X_train_transformed, X_test_transformed, y_train, y_test, preprocessor

In [ ]:
target_col = 'Churn_Label'
X_train_transformed, X_test_transformed, y_train, y_test, preprocessor = prepare_data(df_model, target_col)

X_train Shape :  (5634, 20)
Y_train Shape :  (5634,)
Shape of X_train_transformed :  (5634, 54)
Shape of X_test_transformed :  (1409, 54)

In [ ]:
#### Save the preprocessor as pickle for application development
import pickle
# Save the preprocessor to a file
with open('Telco_churn_preprocessor.pkl', 'wb') as file:
    pickle.dump(preprocessor, file)

### <font color="blue">Modelling along with mlflow</font>

In [ ]:
#Import various models
from sklearn.linear_model import LogisticRegression

#Import libs needed for model evaluation and metrics calculation
from sklearn.metrics import accuracy_score, roc_auc_score, recall_score, f1_score, precision_score

In [ ]:
#Import mlflow
import mlflow
import os

In [ ]:
#Set mlflow
os.environ["MLFLOW_TRACKING_URI"] = "sqlite:///mlruns.db"
mlflow.sklearn.autolog()

In [ ]:
def handle_ml_run(run_name_prefix : str):
    # End the current run (if active)
    if mlflow.active_run():
        mlflow.end_run()

    # Get the existing runs for this experiment
    existing_runs = mlflow.search_runs()

    if existing_runs.empty:
        # No existing runs, create a new run
        next_run_number = 1
    else:
        # Calculate the next run number
        next_run_number = len(existing_runs) + 1

    # Create the full run name
    run_name = f"{run_name_prefix}_run_{next_run_number}"

    return run_name

In [ ]:
def evaluate_model(model, X_test, y_test):
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    roc_auc = roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])
    # Print the results
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1-score: {f1:.4f}")
    print(f"ROC AUC: {roc_auc:.4f}")
    return accuracy, precision, recall, f1, roc_auc

#### Logistic Regression

In [ ]:
run_name = handle_ml_run("Logistic_Regression")
# Start a new run with the custom name
with mlflow.start_run(run_name=run_name):
    mlflow.set_tag("Regularization","L2")
    #model = LogisticRegression(solver='liblinear', random_state=1)
    #model = LogisticRegression(penalty='l1', solver='liblinear', random_state=1)
    model = LogisticRegression(penalty='l2', solver='liblinear', random_state=1)

    model.fit(X_train_transformed, y_train)
    y_pred = model.predict(X_test_transformed)
    accuracy, precision, recall, f1, roc_auc = evaluate_model(model, X_test_transformed, y_test)

    # Log the loss metric
    mlflow.log_metric("accuracy", accuracy)
    mlflow.log_metric("Precision", precision)
    mlflow.log_metric("Recall", recall)
    mlflow.log_metric("F1-score", f1)
    mlflow.log_metric("ROC AUC", roc_auc)

2024/08/13 23:54:03 WARNING mlflow.sklearn: Failed to log training dataset information to MLflow Tracking. Reason: 'Series' object has no attribute 'flatten'

Accuracy: 0.8126
Precision: 0.6721
Recall: 0.5556
F1-score: 0.6083
ROC AUC: 0.8573